@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
}



main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

}



input{
  margin-left: 25px;
  padding: 5px;
  width: 400px;
  height:25px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  outline: none;

}



